.content{
    display: flex;
    justify-content: space-around;
    
}
#productsContainer{
display: flex;
margin: 19px;
gap:30px;
text-align: center;
align-items: center;
}
.head{
    text-align: center;
    margin-top: 50px;
}
.btn{
    color:white;
    background-color: black;
}
.btn:hover{
    background-color:rgb(0, 145, 255);
    color: white;
}